<section class="hero is-primary is-bold is-small hero-margin" style="margin-bottom:40px;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Results</h1>
            <h2 class="subtitle">Applicants That Match What You're Looking For</h2>
        </div>
    </div>
</section>

<div class="container">
    <nav class="columns is-multiline">
        {{#each top5}}
            <div class="column is-4">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{inc @index}}. {{this.name}}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <h4>{{answers.[1]}} Developer</h4>
                            <p>Seeking a {{answers.[3]}} position.</p>
                            <p>
                                Hours: {{answers.[0]}}<br>
                                Experience: {{answers.[2]}}<br>
                                Education: {{answers.[4]}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </nav>
</div>
