<style>
    .hero-margin {
        margin-bottom: 20px;
    }
</style>

<section class="hero is-primary is-bold is-small hero-margin">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Employer Survey</h1>
            <h2 class="subtitle">Match With Potential Employees</h2>
        </div>
    </div>
</section>

<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <h2 class="subtitle">Fill Out the Form: </h2>
        <form action="../api/employers/new" method="post">
            <div class="field">
                <label class="label">{{coName}}</label>
                <div class="control">
                    <input id="name" name="name" class="input is-medium" type="text" placeholder="{{coName}}">
                </div>
            </div>

            <div class="field">
                <label class="label">{{img}}</label>
                <div class="control">
                    <input id="image" name="image" class="input is-medium" type="text" placeholder="{{img}}">
                </div>
            </div>

            <h2 class="subtitle">What Are You Looking for in an Employee?</h2>

            <div class="columns">
                {{#each row1Questions}}
                    <div class="column">
                        <div class="field">
                            <label class="label">{{label}}</label>
                            <div class="control">
                                <div class="select">
                                    <select id="row1question{{@index}}" name="row1question{{@index}}">
                                        {{#each options}}
                                            <option>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="columns">
                {{#each row2Questions}}
                    <div class="column">
                        <div class="field">
                            <label class="label">{{label}}</label>
                            <div class="control">
                                <div class="select">
                                    <select id="row2question{{@index}}" name="row2question{{@index}}">
                                        {{#each options}}
                                            <option>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="field">
                <div class="control">
                    <button id="submitBtn" class="button is-primary" type="submit" value="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
